In [1]:
import pandas as pd

In [3]:
labels = pd.read_csv('/Users/semenkaraban/yandex/yandex-ml-2025/data/human_poses_data/train_answers.csv')

In [4]:
labels

       img_id  target_feature
0       17363               2
1        8612               5
2        8244               0
3        9264               0
4        5382               6
...       ...             ...
12362   11503               4
12363   12201               6
12364    5489               3
12365     883               5
12366   16116               8

[12367 rows x 2 columns]